# Ambiente
.env
*.env

# Banco de dados
jogos.db
*.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Streamlit
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

 